canvas {
    padding: 0;
    margin: auto;
    display: block;
    width: 1280px;
    height: 720px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    
}
body
{
    /* cursor: crosshair; */
    margin:0;
    padding:0;
    background: rgb(30, 50, 30);
}