@charset "UTF-8";

body
{
    background-color: black;
}

h2, h3, h4, h5, h6, p, ul, li, blockquote
{
color: white;
font-family:Verdana, Geneva, Tahoma, sans-serif;
}

a, a:link, a:visited, a:checked
{
    color: gray;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-decoration:none;
}

a:hover
{
    color: darkgray;
    /*apparently darkgray is lighter than straight gray are we fr :skull:*/
}

h1
{
    color: red;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


