@charset "UTF-8";

@font-face {
    font-family: "RetroTeam";
    
    src: url(../media/RetroTeam.otf);
}
@font-face {
    font-family: "Stencil";
    src: url(../media/StardosStencil-Regular.ttf);
}
@font-face {
    font-family: "Handwriting";
    src: url(../media/PermanentMarker-Regular.ttf);
}
body
{
    display: grid;
    
    grid-template-areas: 
        "title title"
        "photos focus"
        "bottom topSecret";
        
    
    grid-template-columns: 45% 55%;
    grid-template-rows: 20vh 85vh 25vh;
    width: 1200px;
    margin: 0 auto;
    background-color: #ffa;
    background-image: url("../media/paper.jpg");
}

div#titlecard
{
    grid-area: title;
    padding-top: 2vh;
}
div#titlecard > div.links
{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: rgba(0, 0, 0, 0.4);
    background-clip:border-box;
    font-size: 1.5em;
    padding: 0.5em;
    font-family: RetroTeam, 'Times New Roman', serif;
}
/*TODO: ADD THE A TAG STUFF FOR INSIDE LINKS*/
div.links > a, a:link, a:visited
{
    color: white;
}
div.links > a:hover
{
    color: lightgray;
}
div.links > a:active
{
    color: red;
}

div#titlecard > h1
{
    background-image: url(../media/title_back.png);
    
    background-clip:border-box;
    align-items: center;
    text-align: center;
    padding: 20px;
    
    margin:0;
    font-family: RetroTeam, 'Times New Roman', serif;
    font-kerning: none;
    font-size: 2em;
    letter-spacing: 5px;
}
div.text
{
    grid-area: focus;
    display: flex;
    flex-direction: column;
    padding-top: 2vh;
}
div.text > h2
{
    font-family: RetroTeam, 'Times New Roman', serif;
    font-size: 3.5em;
    order: 0;
    margin-top:0;
    margin-bottom:0;
    width: 60%;
}
div.text > h5.date
{
    order: -1;
    font-family: Stencil, serif;
    font-size: 2em;
    margin:0;
    padding-top:6vh;
    letter-spacing: 5px;
    
}
div.text > p.subtitle
{
    order: 1;
    font-size: 1.4em;
}
div.text > main
{
    order: 2;
    font-size: 1.4em;
}

div.imgCollage
{
    grid-area: photos;
    
}



div.imgCollage img#img1
{
    border: 0.5vh solid black;
    width: 70%;
    margin: 0 0 0 25%;
}

div.imgCollage img#img2
{
    border: 5px solid white;
    filter: drop-shadow(0px 0px 10px);
    width: 60%;
    position: relative;
    transform: rotate(-8deg) translate(150px, 60px);
    
}
div.imgCollage > div.asides
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 20vh;
    width: 70%;
    margin: 0 0 0 25%;
    font-size: 0.9em;
    gap: 20px;
}
div.imgCollage > div.asides > aside
{
    height: 100%;
    
}
div.bottom
{
    grid-area: bottom;
}

div.bottom div.stickyNote
{
    background-image: url(../media/stickynote.png);
    background-clip:content-box;
    background-repeat: no-repeat;
    width: 80%;
    height: 370px;
    margin:0;
    padding:0;
    margin-left: 15%;
    
    
}
div.stickyNote > *
{
    font-family: Handwriting, sans-serif;
}
div.stickyNote > h3
{
    width: 100%;
    text-align: center;
    font-size: 2em;
    padding:0;
    padding-top: 2vh;
    margin:0;
}
div.stickyNote > p
{
    font-size: 1em;
    width: 90%;
    padding: 10px 5% 0 5%;
    margin:0;
    padding-bottom:0;
    
}

div.stickyNote > p > a:link, a:visited
{
    color: black;
}
div.stickyNote > p > a:focus, a:hover
{
    color: white;
}
div.stickyNote > p > a:active
{
    color: red;
}
#topSecret
{
    grid-area: topSecret;
    width: 45%;
    margin: 0 0 0 55%;
    padding-top:25vh;
}


@media screen and (max-width: 1200px) {
    body
    {
        width: 95%;
        margin: 0 auto;
        grid-template-rows: 20vh 85vh 45vh;
    }
    #topSecret
    {
        padding-top:400px;
    }
}

@media screen and (max-width: 1000px)
{
    body
    {
        display:flex;
        flex-flow: column;
        width: 100%;
    }

    
    body > *
    {
        margin:0;
        padding: 0;
    }
    
    div.bottom div.stickyNote
    {
        padding:0;
        margin: 0 auto;
        width: 80%;
        height: 100%;
        background-clip: content-box;
    }
    
    div.stickyNote > p
    {
        width: 80%;
        margin-left: 10%;
        padding-bottom: 10%;
        font-size: 1.25em;
        font-family: sans-serif;

    }
    div.imgCollage div.asides
    {
        padding:0;
        margin:0 auto;
        width: 90%;
        font-size: 1.5em;
        justify-content: space-between;
    }
    div.imgCollage img#img2
    {
       width: 80%;
       margin:0;
       margin-left: 10%;
       margin-bottom: 50px;
       margin-top: 250px;
       transform: translate(0, 0); 
    }
    div.imgCollage img#img1
    {
        margin:0 2.5% 0 2.5%;
        padding:0;
        width: 95%;
    }
    img#topSecret
    {
        transform: translate(0,0);
        padding:0;
        padding-top: 10%;
        margin:0;
        width: 50%;
        margin-left:25%;
    }
}
@media screen and (max-width: 650px)
{
    div.text > h2
    {
        width: 100%;
    }
}