@font-face {
    font-family: "Cabin";
    src: url(../media/Cabin-SemiBoldItalic.ttf);
}
@font-face {
    font-family: "CabinReg";
    src: url(../media/Cabin-Regular.ttf);
}
:root
{
    --word-color: white;
}
#submit
{
    visibility: hidden;
    width:120px;
}
body
{
    width: 100%;
    height: 100%;
    margin:0 auto;
    transition: background-color 2s ease-in-out;
    overflow: hidden;
}
body > h1,h2,h3,h4,h5,h6,p
{
    text-align: center;
    font-family: "Cabin", serif;
    color: var(--word-color);
    transition: color 2s ease-in-out;
}
#currentLocation
{
    width: 150px;
    height: 50px;
    font-size: 20px;
    margin-left: calc(50% - 150px/2);
    margin-right: calc(50% - 150px/2);
    margin-top: 10px;
    background-color: white;
    border: 1px solid black;
}
#currentLocation:hover
{
    background-color: gray;
    cursor: pointer;
}
#currentLocation > p
{
    color: black;
    padding-top: 10px;
    transition: none;
}
label, input, select
{
    font-family: "CabinReg", serif;
    font-size:36px;
}
label
{
    margin:0;
    padding:0;
}
input
{
    width: 230px;
    margin:0;
    padding:0;
}
h1
{
    font-size: 150px;
    margin:0;
    padding:0;
    text-decoration: underline;
}
h3
{
    font-size: 80px;
    margin:0;
}
h4
{
    font-size: 60px;
    margin:0;
    padding:0;
}
p
{
    margin:0;
    padding:0;
}
#time
{
    position: absolute;
    bottom: 2%;
    right: 2%;
    font-size: 36px;
    padding-right: 40px;
    padding-bottom: 40px;
}
#search
{
    position: absolute;
    bottom: 2%;
    left: 2%;
    font-size:36px;
    padding-left: 40px;
    padding-bottom: 40px;
}
#searchList
{
    display: flex;
    flex-basis: auto;
    flex-wrap:nowrap;
    flex-grow:0;
    flex-shrink:0;
    flex-direction: column-reverse;
    height: 20vw;
    width: 30%;
    position: absolute;
    bottom: 15%;
    left:5%;
}
.placeButton
{
    
    width: 50%;
    border: 2px solid black;
    margin:0;
    margin-bottom: 5px;
    margin-top:5px;
    margin-right: 5px;
    font-size: 1vw;
    background-color: rgb(170, 170, 170);
    font-family: "Cabin", serif;
    padding: 2px;
}
.placeButton:hover
{
    background-color: rgb(51, 51, 51);
}

@media  screen and (max-width: 900px) {
    #searchList
    {
        height: 300px;
        width: 290px;
        
        flex-wrap:wrap;

    }
    .placeButton
    {
    
    width: 50%;
    border: 2px solid black;
    margin:0;
    margin-bottom: 5px;
    margin-top:5px;
    margin-right: 5px;
    font-size: 20px;
    background-color: rgb(170, 170, 170);
    font-family: "Cabin", serif;
    padding: 2px;
}
    h1
    {
        font-size: 100px;
    }
    h3
    {
        font-size: 60px;
    }
    #search
    {
        display: flex;
        bottom: 10%;
        transform: translateX(0%);
        margin:0;
        padding:0;

        width: 100%;
    }
    #temp
    {
        font-size: 100px;
    }
    #weather
    {
        font-size: 80px;
    }
    #country
    {
        font-size: 40px;
    }
    #time
    {
        bottom:10%;
        margin:0;
        padding:0;
    }
    select, option, input
    {
        font-size: 30px;
    }
}

@media screen and (max-width: 690px)
{
    #country
    {
        font-size: 20px;
    }
    #search
    {
        flex-wrap:wrap;
        justify-content:center;
        left:0;
    }
    #temp
    {
        font-size: 150px;
    }
    #weather
    {
        font-size: 50px;
    }
    #time
    {
        bottom:0;
        width: 100%;
        font-size: 50px;
        text-align:center;
    }
    #submit
    {
        visibility: visible;
    }
}

@media screen and (max-width: 590px)
{
    #city
    {
        font-size: 70px;
    }
    #time
    {
        bottom:0;
        width: 100%;
        font-size: 50px;
        text-align:center;
    }
    #citySearch
    {
        width: 150px;
    }
}