@font-face {
    font-family: "Cabin";
    src: url(../media/Cabin-SemiBoldItalic.ttf);
}
body
{
    width: 60%;
    margin:0 auto;
}
body > h1,h2,h3,h4,h5,h6,p
{
    text-align: center;
    font-family: "Cabin", serif;
}
h1
{
    font-size: 12vw;
    margin:0;
    padding:0;
    text-decoration: underline;
}
h3
{
    font-size: 4vw;
    margin:0;
}
h4
{
    font-size: 3vw;
    margin:0;
    padding:0;
}
#time
{
    position: absolute;
    bottom: 5%;
    left: 25%;
    font-size: 2vw;
}
#searchList
{
    display: flex;
    flex-wrap:wrap;
    flex-direction: column;
    height: 15vw;
    width: 50%;
}
.placeButton
{
    width: 40%;
    border: 2px solid black;
    margin:0;
    margin-bottom: 5px;
    margin-top:5px;
    font-size: 0.75vw;
    background-color: rgb(170, 170, 170);
    font-family: "Cabin", serif;
}
.placeButton:hover
{
    background-color: rgb(51, 51, 51);
}