@font-face {
    font-family: "Cabin";
    src: url(../media/Cabin-SemiBoldItalic.ttf);
}
body
{
    width: 100%;
    margin:0 auto;
}
body > h1,h2,h3,h4,h5,h6,p
{
    text-align: center;
    font-family: "Cabin", serif;
}
label, input
{
    font-family: "Cabin", serif;
    font-size:2vw;
}
h1
{
    font-size: 12vw;
    margin:0;
    padding:0;
    text-decoration: underline;
}
h3
{
    font-size: 4vw;
    margin:0;
}
h4
{
    font-size: 3vw;
    margin:0;
    padding:0;
}
p
{
    margin:0;
    padding:0;
}
#time
{
    position: absolute;
    bottom: 5%;
    right: 25%;
    font-size: 2vw;
}
#search
{
    position: absolute;
    bottom: 5%;
    left:25%;
    font-size:2vw;

}
#searchList
{
    display: flex;
    flex-basis: auto;
    flex-wrap:wrap;
    flex-basis: 200px;
    flex-grow:0;
    flex-shrink:0;
    flex-direction: column-reverse;
    height: 20vw;
    width: 30%;
    position: absolute;
    bottom: 15%;
    left:25%;
}
.placeButton
{
    
    width: 50%;
    border: 2px solid black;
    margin:0;
    margin-bottom: 5px;
    margin-top:5px;
    margin-right: 5px;
    font-size: 1vw;
    background-color: rgb(170, 170, 170);
    font-family: "Cabin", serif;
    padding: 2px;
}
.placeButton:hover
{
    background-color: rgb(51, 51, 51);
}